# Core packages
pandas
numpy
scikit-learn
xgboost
geopandas
matplotlib
seaborn
streamlit

# For handling geospatial data
shapely
pyproj
fiona
rtree

# Caching & performance
joblib

# Optional (for better visualization)
plotly
# For handling time series data
statsmodels
# For handling text data
nltk
# For handling images
opencv-python
# For handling audio data
librosa
# For handling video data
moviepy
# For handling deep learning
tensorflow
torch
# For handling natural language processing
transformers

# For handling data streaming
streamlit
